
.about-container {
  background-color: rgb(30, 27, 27);
  color: #fff;
  text-align: center;
  padding: 20px;
}

.about-content {
  background-color: #353131;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border: 3px dotted red;
}


.profile-image {
  width: 200px; 
  height: 200px; 
  border-radius: 50%;
  margin: 20px auto;
  transition: transform 0.3s ease-in-out;
}

.profile-image:hover {
  transform: scale(1.1);
}

.name {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-paragraph {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 2px;
  margin: 20px 0;
}

@media (max-width: 768px) {
  .profile-image {
    width: 150px;
    height: 150px;
  }
}

.about-content {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.skill-bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.skill-bar {
  width: calc(50% - 10px); 
  margin-bottom: 10px;
}

.skill-name {
  font-size: 16px;
  margin-bottom: 5px;
}

.bar-container {
  background-color: white;
  height: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.bar {
  height: 100%;
  background-color: red;
  transition: width 1s ease-in-out; 
  position: relative;
}

.bar-fill {
  height: 100%;
  width: 0;
  background-color: red; 
  position: absolute;
  top: 0;
  left: 0;
  animation: fillAnimation 1s ease-in-out;
}

@keyframes fillAnimation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.skills{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.skill-bar {
  margin-bottom: 10px;
}

.skill-name {
  font-weight: bold;
  text-align: left;
}

.progress-bar {
  background-color: #ddd;
  height: 22px;
  border-radius: 5px;
  overflow: hidden;
}

.progression {
  background-color:rgb(184, 92, 92);
  height: 100%;
  text-align: right;
  padding-right: 10px;
  color: #fff;
}

.skillsKnown{
  position: relative;
}

.skillsTag{
  text-align: center;
  color: #fff;
  margin-block:30px;
}


